<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        Painel do Usuário
                    </a>
                </li>
                <li>
                    <a href="https://github.com/allanfs1/CreativeDrive">
                       Git Hub projeto Creative Driver Projeto de Teste
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://github.com/allanfs1" target="_blank"> git Hub</a> Git Home.
        </div>
    </div>
</footer>
