

<div class="main-content mt-4 pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
               <div [hidden]="!erro" class="alert alert-danger">
                <p> {{erro}}</p>
               </div>
            </div>
          </div>
        <div *ngIf="!erro" class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header">                                
                        <div class="col-md-4  offset-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="/">
                                        <img class="img" src="https://image.flaticon.com/icons/png/512/16/16363.png" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-gray">CEO /{{usersRes.name}}</h6>
                                    <h4 class="card-title">{{usersRes.name}}</h4>
                                    <h4 class="card-title">{{usersRes.CPF}}</h4>
                                    <h4 class="card-title">{{usersRes.profile}}</h4>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                    <a href="/" class="btn btn-danger btn-round">voltar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>