<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">
                        home
                    </a>
                </li>
                <li>
                    <a href="">
                        Perfil
                    </a>
                </li>
                <li>
                    <a href="">
                        Painel do Usuário
                    </a>
                </li>
                <li>
                    <a href="https://github.com/allanfs1/CreativeDrive">
                       Git Hub
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://github.com/allanfs1/CreativeDrive" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
