

<div class="main-content mt-4 pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
               <div [hidden]="!erro" class="alert alert-danger">
                  <p> {{erro}}</p>
               </div>
            </div>
          </div>
        <div class="row">
            <div class="col-12">                            
                <mat-selection-list #shoes [multiple]="false">
                    <mat-list-option *ngFor="let item of usersRes" [value]="item">        
                        {{item.id}}
                        {{item.CPF}}
                        {{item.profile}}
                        {{item.name}}
                        {{item.email}}
                        {{item.password}}
                        {{item.login}}         
                    </mat-list-option>
                  </mat-selection-list>
                  
                  <p *ngIf="!usersRes">
                    Nenhum Usuario cadastrado
                  </p>           
            </div>
        </div>
    </div>
</div>