
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of usersRes | slice:0:4">
                <div class="card card-stats">
                    <div class="card-header card-header-default card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <p class="card-category"><mat-icon>verified_user</mat-icon>{{item.name}}</p>
                        <h3 class="card-title">{{item.email}}
                            <small>{{item.cpf}}</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="">{{item.login}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="spin === false"  class="container-fluid">
    <div style="height: 50%;"  class="row">
        <div class="col-12 offset-6 p-4 mt-4 my-4">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>
<div *ngIf="spin === true" class="container-fluid">
    <div class="row">
        <div class="col-12 p-3 mx-3">
            <a href="/create" type="button" class="btn btn-outline-success"> <mat-icon>supervisor_account</mat-icon> Criar um novo usuário</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-12">
                   <div [hidden]="!success" class="alert alert-success">
                    <p> {{success}}</p>
                   </div>
                   <div [hidden]="!erro" class="alert alert-danger">
                    <p> {{erro}}</p>
                   </div>
                </div>
              </div>
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Lista de Usuários cadastrado</h4>
                    <p class="card-category"> {{date | date:"h"}} September, {{date | date:"d-mm-Y"}}</p>
                </div>
                <div>
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                      <!-- ID Column -->
                      <ng-container *ngIf="auth.rule == 'ADMIN'" style="width: 500px;" matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} 
            
                            <button mat-raised-button type="button" matTooltip="Visualizar" [routerLink]="['/views',row.id]" routerLinkActive="router-link-active"   [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon">
                                <i class="material-icons">visualizar</i>
                            </button>
                            <button mat-raised-button type="button"  [routerLink]="['/update',row.id]"  matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button>
                            <button mat-raised-button type="button" (click)="removerRegister(row.id)"  matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                      </ng-container>
                       <!-- ID Column -->
                       <ng-container *ngIf="auth.rule == 'USER'" style="width: 500px;" matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
    
                     <ng-container style="width: 500px;"  matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                      <ng-container style="width: 900px;"  matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}}</td>
                      </ng-container>

                      <ng-container style="width: 1000px;"  matColumnDef="password">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Senha </th>
                        <td mat-cell *matCellDef="let row"> {{row.password}}</td>
                      </ng-container>

                      <ng-container style="width: 500px;"  matColumnDef="profile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Perfil </th>
                        <td mat-cell *matCellDef="let row"> {{row.profile}}</td>
                      </ng-container>
                  
             
                      <ng-container style="width: 500px;"  matColumnDef="CPF">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
                        <td mat-cell *matCellDef="let row"> {{row.CPF}}</td>
                      </ng-container>
                  
                      <ng-container style="width: 500px;"  matColumnDef="login">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
                        <td mat-cell *matCellDef="let row"> {{row.login}} </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                  </div>
                </div>
        </div><!--fim table-->
    </div>
</div>

