
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of usersRes | slice:0:4">
                <div class="card card-stats">
                    <div class="card-header card-header-default card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">{{item.name}}</p>
                        <h3 class="card-title">{{item.email}}
                            <small>{{item.cpf}}</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="">{{item.login}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-12">
                   <div [hidden]="!success" class="alert alert-success">
                    <p> {{success}}</p>
                   </div>
                   <div [hidden]="!erro" class="alert alert-danger">
                    <p> {{erro}}</p>
                   </div>
                </div>
              </div>
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Lista de Usuários cadastrado</h4>
                    <p class="card-category"> {{date | date:"h"}} September, {{date | date:"d-mm-Y"}}</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>#ID</th>
                            <th>CPF</th>
                            <th>NIVEL</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Senha</th>
                            <th>Login</th>
                            <th>ACOES</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of usersRes">
                                <td>{{item.id}}</td>
                                <td>{{item.CPF}}</td>
                                <td>{{item.profile}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.password}}</td>
                                <td>{{item.login}}</td>
                                <td>
                                    <button mat-raised-button type="button" matTooltip="Visualizar" [routerLink]="['/views',item.id]" routerLinkActive="router-link-active"   [matTooltipPosition]="'above'" class="btn btn-warning btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">visualizar</i>
                                    </button>
                                    <button mat-raised-button type="button"  [routerLink]="['/update',item.id]"  matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" (click)="removerRegister(item.id)"  matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--fim table-->
    </div>
</div>

